* { /* resetando a página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h1,
section h2,
section h3 {
    font-family: "Sour Gummy", sans-serif;
}

section p,
form button,
input,
textarea {
    color: #00123b;
    font-family: "Manuale", serif;
}

body h1,
section h2,
section h3 {
    font-family: "Sour Gummy", sans-serif;
    color: #ff542d;
    font-size: xx-large;
}

body {
    background-color: #42edff;
}

header {
    padding: 16px 0;
    background-color: rgb(210, 30, 14, 1);
    color: rgb(255, 255, 255, 1);
}

.logo-nintendo {
    height: 90px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a /*colocar a para a propiedade funcionar nos links*/ {
    display: inline;
    margin-left: 16px;
    color: rgb(255, 255, 255, 1);
    text-decoration: none;
}

.container /* estilizando o container do header*/ {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-banner {
    display: block;
    position: relative;
    margin-top: 20px;
}

.banner-text {
    position: absolute;
    text-align: center;
    top: 5%;
    z-index: 1;
    width: 100%;
    font-size: 300%;
    color: azure;
    -webkit-text-stroke: 50% #003b54;
}

.capa {
    display: block;
    margin: 0 auto;
}

.start {
    text-align: center;
    margin-top: 2%
}

.start-text {
    position: relative;
    text-align: center;
    top: 5%;
}

.start-p {
    position: relative;
    text-align: center;
    margin-top: 1%;
}

.move-toisland {
    position: relative;
    height: 641px;
    margin-top: 10px;
}

.personal-touch {
    position: absolute;
    text-align: center;
    top: 150px;
    left: 30%;
    width: 500px;
    z-index: 1;
}

.villager {
    display: block;
    position: relative;
    text-align: center;
}

.villager-title {
    margin: 20px;
}

.villagers-image {
    top: 3px;
    width: 98%;
}

.good-neighbors {
    text-align: center;
    margin-top: 20px;
}

.good-neighborsp {
    margin-top: 4px;
}

.instagram-link img {
    height: 40px;
}

.instagram-link li {
    display: inline;
    margin-right: 8px;
}

.getting {
    text-align: center;
    margin-top: 1%;
}

.container-get {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.container-child {
    width: 500px;
}

form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h2,
section h3 {
    margin-bottom: 16px;
    margin-top: 16px;
}

form button {
    background-color: #ff542d;
    color: #42edff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:  rgb(210, 30, 14, 1);
}

input:focus, textarea:focus {
    outline-color: #003b54;
}

footer {
    background-color: rgb(210, 30, 14, 1);
    color: rgb(255, 255, 255, 1);
    padding: 16px 0;
}

footer p {
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
    font-size: large;
}